/**
 * @author Prénom Nom courriel
**/

/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Styles conditionnels au JavaScript
 */

/****** Base commune *******/
:root {
    --color-text: #fff;
    --color-y: #dba70d;
    --color-g: rgba(255, 255, 255, 0.25);
    --font-family: Relaway, sans-serif;
}


/* Bouton du menu */

.nav__control {
    background-color: transparent;
    border: none;
    padding: 10px;
    min-width: 40px;
    color: var(--color-text);
    font-family: (--font-family);
    outline: 1px solid #dba70d;
}
@media (min-width: 600px) {
    .nav__control {
        display: none;
    }
}
.nav__control:hover,
.nav__control:active {
    background-color: var(--color-g);
    border: none;
}

.nav__control:focus {
    /* En mettant la règle outline: none;, les styles du navigateur
     * pour les éléments en cours de focus sont effacés. Il faut alors
     * les remplacer par d'autres styles qui peuvent être plus
     * en accord avec la direction visuelle du projet.
     */
    outline: none;
    /* AUTRES STYLES EN REMPLACEMENT DU OUTLINE */
    /*
     * Les règles outline-offset et outline permettent
     * de modifier l'apparence du outline par défaut des navigateurs.
     */
    outline-offset: -5px;
    outline: #dba70d;
}


.nav__control:before{
    display: inline-block;
    content:"";
    width: 1em;
    height: 1em;
    background: url("../images/ico-fermer.svg");
    /* compléter pour afficher l’icône X */
}

.nav--closed .nav__control:before{
    display: inline-block;
    content:"";
    width:1em;
    height:1em;
    background: url("../images/ico-menu.svg");
    /* compléter pour afficher l’icône Hamburger */
}

/* Liste du menu */
.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: none;
    text-align: left;
}
@media (min-width: 600px) {
    .nav__listItem {
        display: inline-block;
    }
}

@media (max-width: 600px) {
    .nav__listItem:active {
        border-left: 3px solid #dba70d;
    }
}

/* Liens du menu */
.nav__link {
    display: block;
    padding: 5px 10px;
    width: 100%;
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    color: inherit;
    border-right: #dba70d;
}

.nav__link:hover {
    color: #dba70d;
}

@media (min-width: 600px) {
    .nav__link:active {
        color:#fff;
        border-bottom: 3px solid #dba70d;
    }
}

.nav__link:active {
    color:#fff;
}


.nav__link:focus {
    outline-offset: -5px;
    outline: #dba70d;
}

/** Une classe nav__link--active
    sert à définir un état différent
    pour l'item de menu actif
    **/
.nav__link--active {
    border-left: 3px solid #dba70d;
}
@media (min-width: 600px) {
    .nav__link--active {
        border-left:none;
        border-bottom:5px solid #dba70d;
    }
}


/* L'ajout par JavaScript de la classe .js
 * permet de rédiger des sélecteurs conditionnels à ce que Javascript est actif
 * De cette façon,
 *** en l'absence de JavaScript le menu restera visible et accessible
 *** en présence de JavaScript le menu est caché
 */
@media (max-width: 599px) {
    .js .nav__list {
        max-height: 100vh;
        overflow: hidden;
        transition: max-height 2s;
    }
    .js .nav--closed .nav__list {
        max-height: 0;
        transition: max-height 0.5s;
    }
}