@charset "UTF-8";

/**
 * @author Leonardo Coutinho 2032888@csfoy.ca
 *
 * TABLE DES MATIÈRES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Menu
 * Règles générales
 * Mise en page
 *** Entête du site
 *** Menu principal
 *** Accroche
 *** Entreprise
 *** Expériences
 *** Services
 *** Pied de page
 */

/* Normalize
   ========================================================================== */
@import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(_utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(_typo.css);

/* Grille
   ========================================================================== */
@import url(_grille.css);

/* Menu
   ========================================================================== */
@import url(_menu.css);

/*****COULEURS*********************************
   JAUNE: #dba70d
   GRIS TRANSPARENT: rgba(255, 255, 255, 0.25)
 *********************************************/


/* Règles générales */

:root {
    text-decoration-color: black;
    outline-color: #dba70d;
    scroll-behavior: smooth;
    font-family: Raleway, sans-serif;
}

 .cards {
     margin: 0;
     padding: 0;
     list-style: none;
 }

@media (min-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-gap: 20px;
        grid-template-areas:
                 "a a a a "
                 "b b c c"
                 "d d e e"
                 "f f f f"
                 "g g g g"
                 ;
    }

    .card1 {
        grid-area: a;
    }

    .card2 {
        grid-area: b;
    }

    .card3 {
        grid-area: c;
    }

    .card4 {
        grid-area: d;
    }

    .card5 {
        grid-area: e;
    }
    .card6 {
        grid-area: f;
        padding-bottom:100px;
    }
    .card7 {
        grid-area: g;
    }
}

.cards {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
@media (min-width: 600px) {
    .cards  {
        margin-bottom:0;
    }
    .card6 {
        padding-bottom:100px;
    }
}

.card6 img {
    width: 100%;
}

.card3 h2 {
    margin: 0;
}

.card3 p {
    margin: 0;
}

.card7 {
    padding-bottom: 100px;
}

.card3, .card4, .card5, h2 p{
    background-color: darkred;
    color: white;
    padding: 20px;
}


body {
    background-color: #E9E9E9;
}

.conteneur {
    padding: 0 20px;
}
@media (min-width: 700px){
    .conteneur {
        max-width: 1200px;
        margin: auto;
    }
}
@media (max-width: 599px){
    .card6 {
        padding: 50px;
    }
}

figure {
 margin: 0;
}
 img {
    display: block;
    max-width: 100%;
    height: auto;
}
figcaption {
    border-bottom: 5px solid darkred;
    font-size: 1.25rem;
    margin-top: 10px;
    padding-bottom: 10px;
}

/* Entête du site */

.entete {
    color: white;
    background-color: black;
    padding:20px 0;
}
.entete h1 {
    margin: 0;
}
.centre {
    text-align: center;
}
@media (min-width: 600px){
    . {
        background-size: cover;
        padding: 20px;
    }
    .entete div:first-child{
        min-height: 5rem;
    }
}
/* Pied de page */

footer {
    background-color: black;

}

footer .conteneur{
    padding: 0 20px;
}
footer h2,
footer .h2 {
    font-size: 2rem;
    margin: 1em auto;
    color: black;
}

.copyright {
    text-align: center;
    color: white;
    margin:0;
    padding:16px 0;
}